tensorflow>=2.15.0
numpy
flask
requests
requests-toolbelt
scikit-learn
pandas
emnist
keras
tensorflow
emnist
flask
keras
numpy
pandas
requests
requests-toolbelt
scikit-learn
tensorflow
emnist
flask
numpy
pandas
requests
requests-toolbelt
scikit-learn
tensorflow>=2.15.0